@{
    ViewData["Title"] = "Admin";
    Layout = "_AdministrationLayout";
}

<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Index</h2>
    </div>
</header>