@model IEnumerable<NackademinWebShop.ViewModels.Category.CategoryIndexViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Create">Create</a>

<div class="text-center">
    @foreach (var category in Model)
    {
        <div class="row">
            <a>@category.Name (@category.ProductCount)</a>
        </div>
        <div class="row">
            <a asp-controller="Category" asp-action="Edit" asp-route-Id="@category.Id">Edit</a>
        </div>

        <div class="row">
            <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id">Delete</a>
        </div>
    }
</div>
