@model IEnumerable<NackademinWebShop.ViewModels.Category.CategoryIndexViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Create">Create</a>

<div class="text-center">
    @foreach (var category in Model)
    {
        <a>@category.Name (@category.ProductCount)</a>
        <a asp-controller="Category" asp-action="Edit" asp-route-Id="@category.Id">Edit</a>
    }
</div>
