<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NackademinWebShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/lightbox2/css/lightbox.min.css">
    <link rel="stylesheet" href="~/lib/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/lib/owl.carousel2/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/lib/owl.carousel2/assets/owl.theme.default.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.default.css" id="theme-stylesheet">
</head>
<body>
    <header class="header bg-white">
        <div class="container px-0 px-lg-3">
            <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><span class="font-weight-bold text-uppercase text-dark">Nakademin Web Shop</span></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" asp-controller="Home"asp-action="Index" method="get">
                                <div class="input-group">
                                    <input type="search" class="form-control bg-light border-0 small" placeholder="Search" aria-label="Search" name="search">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-info" type="submit">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>
                        @if (User.IsInRole("Product Manager") || User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="Index">Administration</a>
                            </li>
                        }
                        @*<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown"><a class="dropdown-item border-0 transition-link" href="index.html">Homepage</a><a class="dropdown-item border-0 transition-link" href="shop.html">Category</a><a class="dropdown-item border-0 transition-link" href="detail.html">Product detail</a><a class="dropdown-item border-0 transition-link" href="cart.html">Shopping cart</a><a class="dropdown-item border-0 transition-link" href="checkout.html">Checkout</a></div>
                            </li>*@
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <hr />
    <div class="container">

        <section class="py-5 bg-light">
            <div class="container">
                <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                    <div class="col-lg-6">
                        <h1 class="h2 text-uppercase mb-0">Shop</h1>
                    </div>
                    <div class="col-lg-6 text-lg-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Shop</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-5">
            <div class="container p-0">
                <div class="row">
                    <div class="col-lg-3 order-2 order-lg-1">
                        @await Component.InvokeAsync("Categories")
                    </div>
                    <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
                            @RenderBody()
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - NackademinWebShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/lightbox2/js/lightbox.min.js"></script>
    <script src="~/lib/nouislider/nouislider.min.js"></script>
    <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/lib/owl.carousel2/owl.carousel.min.js"></script>
    <script src="~/lib/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    @RenderSection("Scripts", required: false)
</body>
</html>
