@model IEnumerable<NackademinWebShop.ViewModels.Category.CategoryIndexViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@* TODO WE WANT TOO MOVE THIS TOO OUR SHARED LAYOUT. BUT THIS WILL WORK FOR NOW. *@
<h5 class="text-uppercase mb-4">Categories</h5>
<div class="py-2 px-4 bg-dark text-white mb-3"><strong class="small text-uppercase font-weight-bold">ELECTRONICS</strong></div> @*TODO THIS WILL BE THE CATEGORY, and the categories will be Sub-Categories.*@
<ul class="list-unstyled small text-muted pl-lg-4 font-weight-normal">
    @foreach (var category in Model)
    {
        <li class="mb-2"><a class="reset-anchor" href="#">@category.Name (@category.ProductCount)</a></li>
    }
</ul>
@*<div class="py-2 px-4 bg-light mb-3"><strong class="small text-uppercase font-weight-bold">Health &amp; Beauty</strong></div>
    <ul class="list-unstyled small text-muted pl-lg-4 font-weight-normal">
        <li class="mb-2"><a class="reset-anchor" href="#">Shavers</a></li>
        <li class="mb-2"><a class="reset-anchor" href="#">bags</a></li>
        <li class="mb-2"><a class="reset-anchor" href="#">Cosmetic</a></li>
        <li class="mb-2"><a class="reset-anchor" href="#">Nail Art</a></li>
        <li class="mb-2"><a class="reset-anchor" href="#">Skin Masks &amp; Peels</a></li>
        <li class="mb-2"><a class="reset-anchor" href="#">Korean cosmetics</a></li>
    </ul>*@
