@model IEnumerable<NackademinWebShop.ViewModels.Categories.CategoryIndexViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<h5 class="text-uppercase mb-4">Categories</h5>
<div class="py-2 px-4 bg-dark text-white mb-3"><strong class="small text-uppercase font-weight-bold">ELECTRONICS</strong></div> @*TODO THIS WILL BE THE CATEGORY, and the categories will be Sub-Categories.*@
<ul class="list-unstyled small text-muted pl-lg-4 font-weight-normal">
    @foreach (var category in Model)
    {
        <li class="mb-2">
            <a class="reset-anchor" asp-controller="Category" asp-action="Index" asp-route-Id="@category.Id">@category.Name (@category.ProductCount)</a>
        </li>
    }
</ul>